.gallery{
  object-fit: cover;
  text-align: center;
}
.image{ 
  width: 400px;
  height: 400px;
  padding: 25px 20px;
  border: 25px solid rgb(14, 202, 202);
  border-radius: 30px;
  margin: 100px;
  background-color: aqua;
  object-fit: cover;
}
.position{
  object-position: -877px;
}
















